#container{
    width:        1200px;
    margin:       auto;
}
#intro{
width:          50%;
float:          left;
background:     ;
text-align:     center;
padding:        1%;
margin:         1.5%;
}

#header{
  width:          50%;
  float:          left;
  background:     blue;
  text-align:     center;
}

#Batman{
  float:          left;
  width:          40%;
  background:     grey;
  text: white;
}

#Superman{
  float:          left;
  width:          30%;
  background:     blue;
}

#GreenLantern{
  float:          left;
  width:          40%;
  background:     Green;

}
