#container{
    width:        1200px;
    margin:       auto;
}

#header{
  width:          100%;
  background:     blue;
  text-align:     center;
}
#intro{
width:          100%;
float:          left;
background:     red;
text-align:     center;
padding:        1%;
margin:         1.5%;
}
#blackLine{
  width: 100%
}


#Batman{
  float:          left;
  width:          33%;
  background:     grey;
  text:          white;
  margin:auto;
}

#Superman{
  float:          left;
  width:          33%;
  background:     blue;

}

#GreenLantern{
  float:          right;
  width:          34%;
  background:     Green;

}

.drop-content{
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
padding: 12px 16px;
z-index: 1;
}

.dropdown:hover  .drop-content{
display: block;

.footer {
  position: absolute;
  top: 500px;
  right: 600px;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
}
